!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    meta(name='keywords', content='javascript, modules, module, convert, commonjs, AMD, UMD, UMDjs, format, converter, conversion, requirejs, require, define, browserify, dependency, dependencies, bundle, package')

    meta(name='description', content='Javascript Universal Module & Resource Converter: convert modules from commonjs to AMD, AMD modules to commonjs, requirejs to nodejs to UMD, to standalone optimized .js')

    title= (locals.title ? locals.title + ' - ' : '') + 'uRequire: JavaScript Universal Module & Resource Converter: convert modules from AMD to nodejs, commonjs and back, to UMD, to plain script .js'
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700')
    link(rel='shortcut icon', href='../img/favicon.ico', type='image/x-icon')
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41565621-1', 'urequire.org');
      ga('send', 'pageview');

  body(class=locals.page ? 'page-' + locals.page + (locals.page === 'index' ? '' : ' page-secondary') : '')

    a(href="http://opensource.nodejitsu.com/")
      img(
        style="position: absolute; top: 0; left: 0; border: 0"
        src="img/foss-l-orange.png"
        alt="Nodejitsu free for Open Source program"
      )

    a(href='https://github.com/anodynos/urequire')
      img(
        style='position: absolute; top: 0; right: 0; border: 0;'
        src='img/github_forkme_right_orange_ff7600.png'
        alt='Fork me on GitHub'
      )

    include blocks/header

    .content
      block content

    include blocks/footer